#divi01{
    background-color:cadetblue;  height: 700px;width: 200px; text-align: center;  margin: 0 100px 0 ;box-shadow: 5px 5px 15px;
    border-radius: 10px;
    }
#divi02{
    background-color:burlywood; width: 1100px; height: 70px; text-align: center; margin: 10px 50px; margin: 0 50px ;padding: 1px 20px 20px;box-shadow: 5px 5px 15px;
    border-radius: 10px;
}
#divi03{
    
    background-color:burlywood; width: 1100px; height: 530px; text-align: center; 
    box-shadow: 5px 5px 15px;
    border-radius: 10px;
    padding: 0 20px ;
    margin: 0 50px;
    text-indent: 45px;
    text-align: justify;
}
strong{
    font-size: xx-large;
}
